@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #EDF2F4;
    color: #2D3436;
    font-family: 'Inter', sans-serif;
}
